body{
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #CCCCCC;
    color: #FFFFFF;
}
.container{
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(#220D25, #531A5C);
    padding: 1.5rem;
}
.header-title{
    margin-top: -1.5rem;
    color: #FECD23;
}
.header-description{
    margin-top: 2.25rem;
}
.cards{
    display: flex;
    justify-content: space-around;
}